<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Удаление клиента</title>
</head>
<body>
    <div th:if="${error}" align="center"><b th:text="${error}">error</b></div>
    <div th:if="${client}" align="center">
        <h1>Вы уверены что хотите удалить клиента с ID <span th:text="${client.id}">ID</span></h1>
        <form th:action="@{/clients/delete/{id}(id=${client.id})}" method="post">
            <button type="submit">Да, уверен</button><br>
            <a th:href="@{/clients/{id}(id=${client.id})}">Нет, вернуться обратно</a>
        </form>
    </div>
</body>
</html>