<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:if="${error}"><b th:text="${error}" style="color: red">error</b></div>

    <div th:if="${client}">
        <b>Редактирование пользователя <span th:text="${client.id}">ID</span>:</b>
        <form th:action="@{/clients/edit/{id}(id=${client.id})}" th:object="${client}" method="post">
            <label>Имя:<input type="text" th:field="*{name}"></label><br>
            <div th:if="${nameError}"><b th:text="${nameError}" style="color: red">error</b></div>
            <label>Email:<input type="text" th:field="*{email}"></label><br>
            <div th:if="${emailError}"><b th:text="${emailError}" style="color: red">error</b></div>
            <label>Номер телефона:<input type="text" th:field="*{phone}"></label><br>
            <div th:if="${phoneError}"><b th:text="${phoneError}" style="color: red">error</b></div>
            <button type="submit" >Сохранить</button><br>
            <a th:href="@{/clients/{id}(id=${client.id})}">Вернуться</a>
        </form>
    </div>
    <div th:unless="${client}">
        <a th:href="@{/clients}">Вернуться</a>
    </div>
</body>
</html>